{% extends 'base.html.twig' %}

{% block title %}SubCategory index{% endblock %}

{% block body %}
    <h1>SubCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subcategory in subcategories %}
            <tr>
                <td>{{ subcategory.id }}</td>
                <td>{{ subcategory.name }}</td>
                <td>
                    <a href="{{ path('subcategory_show', {'slug': subcategory.slug}) }}">show</a>
                    <a href="{{ path('subcategory_edit', {'slug': subcategory.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
