{% extends 'base.html.twig' %}

{% block title %}New Subredduck{% endblock %}

{% block body %}
    <h1>Create new Subredduck in {{ category.name }}</h1>

    {{ include('subcategory/_form.html.twig') }}

{% endblock %}
