{% for message in messages %}
    <div class="row mt-2">
        <p style="width: 100%;"><b>{{ message.author.username }}</b>: {{ message.content }}</p>
        {% if(message.image is not null) %}
            <img class="img-fluid" src="{{ asset('uploads/images/messages/' ~ message.image) }}" alt="" width="150">
        {% endif %}
    </div>
    <hr class="my-1">
{% else %}
    <p>Pas de commentaires pour le moment</p>
{% endfor %}


