{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('post_index') }}">back to list</a>
    {% if(post.image is not null) %}
        <img src="{{ asset('uploads/images/posts/' ~ post.image) }}" alt="UwU">
    {% endif %}

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
