{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Create new Post</h1>

    {{ include('post/_form.html.twig') }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function updateFileInput() {
            let input = $('#post_imageFile_file');
            let filePath = $(input).val()
            fileSplit = filePath.split('\\')
            fileName = fileSplit[fileSplit.length - 1]
            $(input).next('.custom-file-label').html(fileName)
            if($(input).val().length === 0) {
                $('#post_content').attr('required', 'required')
            } else {
                $('#post_content').removeAttr('required')
            }
        }

        $(document).ready(function() {
            updateFileInput()
        })

        $('#post_imageFile_file').on('change', function () {
            updateFileInput()
        })
    </script>
{% endblock %}
